// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form {
  width: 80%;
  margin: auto;
  background: darkblue;
}

.formContents {
  display: block;
  margin: auto;
  width: 60%
}

.textBoxLength {
  width: 100%;
  height: 40px;
  border-radius: 10000px;
  font-size: 22px;
  padding-left: 30px;
}
.formLabel{
  font-size: 22px;
  color: white;
}